.homepage{
    background-image: url('../Photos/mountkenyapeak.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: antiquewhite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}
h1{
    margin-bottom: 1em;
    font-size: 2.5em;
}
.newsletter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2em;
}

.subscribersName, .newslettermail, .newsletterBtn, .appDownloadBtn{
    font-size: 1em;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.newslettermail{
    width: 300px;
}
.newsletterBtn, .appDownloadBtn{
    background-color: #808080;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
}
.appDownloadBtn{
    background-color: #808080;
}
.header{
    font-size: 1.2em;
}
/* CSS for devices with screen width less than 600px (like smartphones) */
@media (max-width: 600px) {
    .homepage {
      padding: 10px;
      width: auto;
      height: 100%;
    }
    h1 {
      font-size: 1.5em;
    }
    .newslettermail {
      width: 100%;
    }
    .subscribersName {
      width: 100%;
    }
    .newsletterBtn, .appDownloadBtn {
      font-size: 0.8em;
      padding: 8px;
    }
    .header {
      font-size: 1em;
    }
  }
  
  /* CSS for devices with screen width between 600px and 992px (like tablets) */
  @media (min-width: 600px) and (max-width: 992px) {
    .homepage {
      padding: 20px;
    }
    h1 {
      font-size: 2em;
    }
    .newslettermail {
      width: 70%;
    }
    .newsletterBtn, .appDownloadBtn {
      font-size: 0.9em;
      padding: 9px;
    }
    .header {
      font-size: 1.1em;
    }
  }
  
  /* CSS for devices with screen width greater than 992px (like desktops) */
  @media (min-width: 992px) {
    .homepage {
      padding: 30px;
    }
    h1 {
      font-size: 2.5em;
    }
    .newslettermail {
      width: 50%;
    }
    .newsletterBtn, .appDownloadBtn {
      font-size: 1em;
      padding: 10px;
    }
    .header {
      font-size: 1.2em;
    }
  }  