.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
/************Header Div Styling **************/

.header {
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the content */
  border-radius: 5px; /* Rounded corners */
  margin: 20px;
  width: 80%;
  
}


.header h3 {
  font-size: 2rem; /* Font size for the heading */
  margin-bottom: 10px; /* Bottom margin for spacing */
}

.header p {
  font-size: 1.2rem; /* Font size for paragraphs */
  margin-bottom: 10px; /* Bottom margin for spacing */
}


.phonenumber::placeholder,
.newslettermail::placeholder {
  text-align: center;
}


/******************/
.homepage{
  text-align: center;
    padding: 2rem;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px(0, 0, 0, 0.1);
}
h1{
    margin-bottom: 1em;
    font-size: 2.5em;
    color: #333;
}
.newsletter{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 60%;
  margin: 0 auto;
}
.newsDisplayContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
}
.homepage h2{
  color: rgb(133, 21, 21);
}
.newsItem {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  height: 350px; /* Set a fixed height */
  overflow: auto; /* Add a scrollbar if necessary */
}

.title {
  font-size: 0.9rem;
  margin-top: 0;
  padding: 10px;
  background-color: thistle !important;
}
.newsItem p {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: bold;
}
.readarticle {
  align-self: center;
  margin-top: 0.1rem;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.readarticle:hover {
  background-color: #444;
}
.title, .newsItem {
  margin-bottom: 1rem;
}
.newsItem img {
  max-width: 100%;
    max-height: 50%;
    object-fit: cover;
    border-radius: 5px;
    background-color: #555;
}
.newsDisplay{
  background-color: #fff;
    border-radius: 5px;
    width: 100%;
  padding: 10px;
  margin: 0 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 600px;
}
.newsDisplay :hover {
  transform: translateY(-5px);
}
.phonenumber, .newslettermail, .newsletterBtn{
    font-size: 0.8em;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.newslettermail{
    width: 260px;
}
.phonenumber{
  width: 150px;
}
.newsletterBtn{
    background-color: #808080;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
}
.nav-home li{
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo span{
  font-weight: bold;
  font-size: large;
}
.logo img{
  margin-top: 0;
  max-width: 70px;
  max-height: 50px;
}
.header{
    background-color: dodgerblue;
    color: white;
}
/* For side navigation **/
.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.top-nav a{
  text-decoration: none;
  color: #333;
}
.top-nav a:hover{
  color: #808080;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-big {
  display: flex;
  align-items: center;
}

.logo-big img {
  max-width: 70px;
  max-height: 50px;
}

.logo-big span {
  font-weight: bold;
  font-size: large;
}

.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
}
/* CSS for devices with screen width less than 600px (like smartphones) */
@media (max-width: 600px) {
  .homepage {
    padding: 1rem;
  }
  
    .newsDisplay {
      width: 100%;
      margin: 0 0 2rem;
    }
    .article-display {
      max-width: 100%;
      padding: 10px;
  }
.article{
  overflow: scroll;
}
.phonenumber, .newslettermail{
  width: 220px;
}
  .newsDisplayContainer {
      margin-bottom: 20px; /* Reduces the space between articles */
  }

    .newsletter{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .newsItem{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .h1{
      width: auto;
    }
    .header h3 {
      font-size: 1.5rem; /* Font size for the heading */
      margin-bottom: 10px; /* Bottom margin for spacing */
    }
    
    .header p {
      font-size: 1rem; /* Font size for paragraphs */
      margin-bottom: 10px; /* Bottom margin for spacing */
    }
    
  }
  
  /* CSS for devices with screen width between 600px and 992px (like tablets) */
  @media (min-width: 600px) and (max-width: 992px) {
    .homepage {
      padding: 20px;
      height: 100%;
    }
    h1 {
      font-size: 2em;
    }
    newsletterBtn, .appDownloadBtn {
      font-size: 0.9em;
      padding: 9px;
    }
    .header {
      font-size: 1.1em;
    }
    .phonenumber, .newslettermail{
      width: 300px;
    }
    .newsletter{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
  }
  /* CSS for devices with screen width greater than 992px (like desktops) */
  @media (min-width: 992px) {
    .homepage {
      padding: 30px;
    }
    
    h1 {
      font-size: 2.5em;
    }
    .newsletterBtn, .appDownloadBtn {
      font-size: 1em;
      padding: 10px;
    }
    .header {
      font-size: 1.2em;
    }
  }  
  /* Footer stylings*/
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px; /* Adjust padding as per your design */
    text-align: center;
  }
  
  .footer .contact-info {
    margin-bottom: 20px;
  }
  
  .footer .contact-info p {
    margin: 5px 0;
  }
  
  .footer .social-links {
    margin-bottom: 20px;
  }
  
  .footer .social-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer .legal-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer .copyright {
    font-size: 0.8em;
  }

  /***** SUBSCRIPTION MESSAGE DISPLAY STYLING ****/
  .message {
    background-color: #f0f0f0; /* Light background color */
    color: #333; /* Text color */
    padding: 10px 20px; /* Padding around the message */
    margin-top: 20px; /* Margin to separate from other elements */
    font-size: 1em; /* Font size */
    font-weight: bold; /* Font weight */
    border: 2px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  
  .message.hidden {
    opacity: 0; /* Hide the message when not displayed */
  }
  /****Pagination Stylings ****/
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page-link {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #45a049;
  }
  
  .page-link:active {
    background-color: #3e8e41;
  }
  
  