.add-product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-product-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.add-product-form input[type='text'],
.add-product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.image-container {
    border: dotted;
}

.add-product-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-form button:hover {
    background-color: #0056b3;
}

.add-product-form span {
    color: red;
    margin-bottom: 10px;
}
