.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Center the divs vertically */
  margin-top: 100px;
}

.loginContainer a {
  background-color: aliceblue;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  text-align: center;
  margin-top: 20px;
  transition: all 0.3s ease; /* Transition for smooth animation */

  text-decoration: none;
  text-align: center;
}

.loginContainer a:hover {
  transform: scale(1.5); /* Enlarge the hovered div */
  background-color: lightblue; /* Change background color on hover */
  z-index: 1; /* Bring the hovered div to the front */
}

.loginContainer a:not(:hover) {
  opacity: 0.4; /* Reduce opacity of non-hovered divs */
}

.loginContainer a:first-child:hover {
  transform: translateX(50%); /* Move the left-most div to the right */
}

.loginContainer a:last-child:hover {
  transform: translateX(-50%); /* Move the right-most div to the left */
}
